[Dd]ebug*
[Rr]elease*
[bB]uild*
candy2
*.log
*.pro.user
Makefile*
Makefile.*
object_script.*
*.o
!debug.c
!debug.h
log.txt
*.cbmap
mapconverter/mapconv*
!mapconverter/mapconverter.pro
!debug_tiles.png
*.autosave
